
.my-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
